.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.in-progress {
    font-family: 'Cormorant Garamond', serif;
}

.from-calvin {
    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
    margin-top: 80;
    margin-left: 110px;
}
